$bleu-fonce: #1F5FBF;
$bleu-clair: #2A7FFF;
$bleu-giga-clair: #A4C8FF;
$degrade-bleu: linear-gradient(-180deg, rgba(0,121,255,1) 0%, rgba(0,162,255,1) 57%, rgba(0,162,255,1) 100%);
$gris: #292929;
$blanc: #FFFFFF;